<div class="container text-center">
  <div class="col-md-8 col-md-offset-2">
    <h1>List of closed questions</h1>
    <br>
    <% @closedquestions.each do |closedquestion| %>
    <%= closedquestion.closedquestion %><br>
    <% end %>
<%
begin
%>
<p>To create another closed question, type it here and press Create</p>
<%= form_for :closedquestion, url: happinesstrackers_path do |f| %>
  <%= f.text_field :closedquestion %>
  <%= f.check_box :is_visible %>
  <%= label_tag(:is_visible, "Is visible") %>
  <%= f.submit "Create" %>
<% end %>
<%
end
%>
    <br>
    <h3>List of open questions</h3>

    <table class="table">
      <tr>
        <th>Question</th>
        <th>Date</th>
      </tr>
      <% @openquestions.each do |openquestion| %>
      <tr>
        <td><%= openquestion.openquestion%></td>
        <td><%= openquestion.createdfordate%></td>
      </tr>
      <% end %>
    </table>	
    <br>
    <br>
    <p>To create another open question, type it here and press Create</p>
    <%= form_for :openquestion, url: happinesstrackers_path do |f| %>
      <p>Open Question <%= f.text_field :openquestion, :class => 'form-control' %></p>
      <p>Created for date <%= f.date_field :createdfordate, :value => Time.now.strftime('%Y-%m-%d'), :class => 'form-control' %></p><br>
      <%= f.submit "Create", :class => 'btn btn-default' %>
    <% end %>
<%
=begin
%>
<p>exp with Cquestion table</p>
<%= form_for :closedquestion, url: happinesstrackers_path do |f| %>
  <%= f.text_field :closedquestion %>
  <%= f.check_box :is_visible %>
  <%= label_tag(:is_visible, "Is visible") %>
  <%= f.submit "Create" %>
<% end %>
<%
=end
%>
    <h3>List of users</h3>
    <% @users.each do |user| %>
    <%= user.name %> <%= user.email%> <%= link_to 'Delete',happinesstrackers_admin_path, method: :delete, :id => user.id %><br>
    <% end %>
    <%= form_for :myusers, url: happinesstrackers_path do |f| %>
      <%= f.label :Name %>  <%= f.text_field :name, :class => 'form-control' %><br/>
      <%= f.label :Email %> <%= f.text_field :email, :class => 'form-control' %><br/>
      <%= f.submit "Create", :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>