
<br>
<h1>List of closed questions</h1>
<br>
<% @closedquestions.each do |closedquestion| %>
<%= closedquestion.closedquestion %><br>
<% end %>
<br>
<br>
<p>To create another closed question, type it here and press Create</p>
<%= form_for :closedquestion, url: happinesstrackers_path do |f| %>
  <%= f.text_field :closedquestion %>
  <%= f.check_box :is_visible %>
  <%= label_tag(:is_visible, "Is visible") %>
  <%= f.submit "Create" %>
<% end %>
<br>
<br>
<h1>List of open questions</h1>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-vn4c{background-color:#D2E4FC}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e">Question</th>
    <th class="tg-031e">Date</th>
  </tr>
  <% @openquestions.each do |openquestion| %>
  <tr>
    <td class="tg-vn4c"><%= openquestion.openquestion%></td>
    <td class="tg-vn4c"><%= openquestion.createdfordate%></td>
  </tr>
  <% end %>
</table>	
<br>
<br>
<p>To create another open question, type it here and press Create</p>
<%= form_for :openquestion, url: happinesstrackers_path do |f| %>
  <p>Open Question <%= f.text_field :openquestion %></p><br>
  <p>Created by <%= f.text_field :createdby %></p><br>
  <p>Created for date <%= f.date_field :createdfordate %></p><br>
  <%= f.submit "Create" %>
<% end %>
<p>exp with Cquestion table</p>
<%= form_for :cquestion, url: happinesstrackers_path do |f| %>
  <%= f.text_field :question %>
  <%= f.check_box :is_visible %>
  <%= label_tag(:is_visible, "Is visible") %>
  <%= f.submit "Create" %>
<% end %>
