<h1>Happiness tracker reporting page</h1>
<br>
Setup the public dashboard here with the results from the questionaire.

<br/>
Are you happy today? <br/>
Yes count? <%= @happyanswers %><br/>
No count?  <%= @Nothappyanswers %><br/>
<%= @happy1answers %>
<br/>
Are you Stressed today? <br/>
Yes count? <%= @stressedanswers %><br/>
No count?  <%= @Notstressedanswers %><br/>

<br/>
<h3>Open question for today</h3> <br>
<%= @openquestion %><br><br>
<h3>Answers:</h3><br>
<% @openanswers.each do |a| %>
<%= a.answer %><br/>
<% end %>
<br/><br/>
<br/><br/>
<%=link_to "Today's survey", happinesstrackers_survey_path %>
<br/>
<%=link_to "Admin page", happinesstrackers_admin_path %>

</p>