<h1>Happiness tracker reporting page</h1>
<br>
Setup the public dashboard here with the results from the questionaire.

<br/>
Are you happy today? <br/>
Yes count? <br/>
<%= @happyanswers == String ? @happyanswers : number_to_percentage(@happyanswers, precision: 1)  %><br/>
No count? <br/>
<%= @Nothappyanswers == String ? @Nothappyanswers : number_to_percentage(@Nothappyanswers, precision: 1)  %><br/>
<br/>
Are you Stressed today? <br/>
Yes count? <br/>
<%= @stressedanswers == String ? @stressedanswers : number_to_percentage(@stressedanswers, precision: 1)  %><br/>
No count? <br/>
<%= @Notstressedanswers == String ? @Notstressedanswers : number_to_percentage(@Notstressedanswers, precision: 1)  %><br/>

<br/>
<p>Happiness trend</p><br/>
<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<%= line_chart @linegraph, library: {title: "Happiness Tracker", titlePosition: "middle", vAxis: {format: "percent"}} %>
<br/>
<h3>Open question for today</h3> <br>
<%= @openquestion %><br><br>
<h3>Answers:</h3><br>
<% @openanswers.each do |a| %>
<%= a.answer %><br/>
<% end %>
<br/><br/>
<br/><br/>
<%=link_to "Today's survey", happinesstrackers_survey_path %>
<br/>
<%=link_to "Admin page", happinesstrackers_admin_path %>

