<h1>Happiness tracker reporting page</h1>
<br>
Setup the public dashboard here with the results from the questionaire.

<br/>
Are you happy today? <br/>
Yes count? <%= number_to_percentage(@happyanswers, precision: 1) %><br/>
No count?  <%= number_to_percentage(@Nothappyanswers, precision: 1) %><br/>
<%= @happy1answers %>
<br/>
Are you Stressed today? <br/>
Yes count? <%= number_to_percentage(@stressedanswers, precision: 1) %><br/>
No count?  <%= number_to_percentage(@Notstressedanswers, precision: 1) %><br/>

<p>Happiness trend</p><br/>
<%= line_chart Happy1answer.where(hanswer: true).group("DATE(created_at)").count %>
<br/>
<h3>Open question for today</h3> <br>
<%= @openquestion %><br><br>
<h3>Answers:</h3><br>
<% @openanswers.each do |a| %>
<%= a.answer %><br/>
<% end %>
<br/><br/>
<br/><br/>
<%=link_to "Today's survey", happinesstrackers_survey_path %>
<br/>
<%=link_to "Admin page", happinesstrackers_admin_path %>

<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
