<div class="navbar">
	<%= image_tag "airbnb_logo_detail.png" %>
</div>
<h1>New Daily Question</h1>
  <p>Are you happy today?</p>

<%= form_for :happinesstracker, url: happinesstrackers_path do |f| %>
  <p>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </p> 
  <p>
    <%= f.label :question2 %><br>
    <%= f.text_field :question2 %>
  </p>   
  <p>
    <%= f.submit %>
  </p>
<% end %>