<h1>Today's Question</h1><br>
<br>
<p>
<%= form_for :closedanswer, url: happinesstrackers_thankyou_path do |f| %>	
<%= f.label @closedquestions[0].closedquestion %><br><br>
 <%= f.radio_button :hanswer, true %>Yes<br/>
  <%= f.radio_button :hanswer, false %>No<br/>
 <%= f.label @closedquestions[1].closedquestion %><br><br>
 <%= f.radio_button :sanswer, true %>Yes<br/>
 <%= f.radio_button :sanswer, false %>No<br/>
 <br/>
 <%= f.label @openquestions[0].openquestion %><br><br>
  <%= f.text_area :answer %><br><br>

<%= f.submit "Submit" %>
<% end %>
</p>

